ms-swift[all]
vllm
torchao>=0.16.0

datasets==2.18.0
numpy==1.26.4
scipy==1.11.4
transformers==4.51.3

Levenshtein==0.26.1
plotnine==0.14.5
evaluate==0.4.4
cer==1.2.0
rouge_score==0.1.2

hf_transfer
seaborn
bitsandbytes
python-dateutil
jiwer

huggingface_hub==0.25.2

pypdfium2==4.30.1
pandas
Pillow
tqdm

pandas==2.2.3
Pillow==11.1.0
tqdm==4.67.1
python-dateutil==2.9.0.post0
seaborn==0.13.2
jiwer==3.1.0
hf_transfer==0.1.9
bitsandbytes==0.47.0